/* Resetting default styles and setting global styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Setting background color for the body */
body {
  background-color: #000000;
}

/* Styling for the main card container */
.card {
  width: 90%; /* Setting the width of the card */
  max-width: 470px; /* Setting the maximum width of the card */
  background: linear-gradient(135deg, #82b0a4, #a9a3d0); /* Applying a linear gradient background */
  color: #f9f5f5; /* Setting text color */
  margin: 100px auto 0; /* Centering the card vertically and horizontally */
  border-radius: 20px; /* Adding border radius for rounded corners */
  padding: 40px 35px; /* Setting padding inside the card */
  text-align: center; /* Aligning text to the center */
}

/* Styling for the search input and button */
.search {
  width: 100%; /* Setting the width of the search container */
  display: flex; /* Displaying the search container as a flexbox */
  align-items: center; /* Aligning items vertically in the center */
  border-radius: 2px; /* Adding border radius */
  justify-content: space-between; /* Distributing space between elements */
}

.search input {
  border: 0; /* Removing border */
  outline: 0; /* Removing outline */
  background: #f2f6f5; /* Setting background color */
  color: #524bba; /* Setting text color */
  padding: 10px 25px; /* Setting padding */
  height: 60px; /* Setting height of the input */
  border-radius: 30px; /* Adding border radius for rounded corners */
  flex: 1; /* Allowing input to grow and shrink based on available space */
  margin-right: 16px; /* Adding margin to the right */
  font-size: 18px; /* Setting font size */
}

.search button {
  border: 0; /* Removing border */
  outline: 0; /* Removing outline */
  background: #c8fcf4; /* Setting background color */
  color: #524bba; /* Setting text color */
  padding: 15px 25px; /* Setting padding */
  border-radius: 10%; /* Adding border radius for rounded corners */
  font-size: 18px; /* Setting font size */
}

/* Styling for weather information display */
.weather {
  display: none; /* Hiding weather information by default */
}

/* Styling for error message display */
.error {
  text-align: left; /* Aligning text to the left */
  margin-left: 10px; /* Adding margin to the left */
  font-size: 14px; /* Setting font size */
  margin-top: 10px; /* Adding margin to the top */
  display: none; /* Hiding error message by default */
}

/* Styling for weather details */
.details {
  display: flex; /* Displaying details as a flexbox */
  align-items: center; /* Aligning items vertically in the center */
  justify-content: space-between; /* Distributing space between elements */
  padding: 0 20px; /* Adding padding */
  margin-top: 50px; /* Adding margin to the top */
}

/* Styling for individual columns in weather details */
.col {
  display: flex; /* Displaying columns as a flexbox */
  align-items: center; /* Aligning items vertically in the center */
  text-align: left; /* Aligning text to the left */
}

.col img {
  width: 40px; /* Setting width of the images */
  margin-right: 10px; /* Adding margin to the right */
}

.col p {
  margin: 0; /* Removing default margin */
  padding: 0; /* Removing default padding */
}
